@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
.title {
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #3a3d42;
}
.subtitle {
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #7a7886;
  max-width: 350px;
}
.itemContainer {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  padding: 10px;
}
.itemTitle {
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #7a7886;
}
.itemValue {
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #514f5b;
}
.phoneContainer {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.phone {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.manage {
  font-family: Nunito Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #6379f4;
  cursor: pointer;
}
.manage:active {
  color: #2944db;
}
